# CAMBIA EL NOMBRE DEL ARCHIVO A: .env

# ==========================
# 🔹 Configuración Oracle DB
# ==========================
ORACLE_PWD=adminadmin # -> Contraseña para usuario sys
ORACLE_PDB=FREEPDB1 # -> Service name de la pluggable database de Oracle
INIT_SGA_SIZE=1GB # -> memoria compartida para cache, buffers, etc.
INIT_PGA_SIZE=512MB # -> memoria privada para procesos

# ==========================
# 🔹 Configuración Backend NestJS
# ==========================
NODE_ENV=production #-> Entorno de ejecución

# Datos de conexión a Oracle
DB_PORT=1521 # -> Puerto en el que corre la base de datos
DB_SERVICE_NAME=FREEPDB1 # -> Nombre del servicio de la base de datos (pluggable database)
DB_PASSWORD=adminadmin # -> Contraseña para el usuario GESTOCK de la base de datos
DB_SYNCHRONIZE=true # -> Sincronizador de las entidades automáticamente (Sólo en desarrollo)
DB_LOGGING=false #-> Mostrar las queries de SQL por consola

# Puerto backend
PORT=3000

# Clave secreta JWT (Ver README para ver cómo se genera)
JWT_SECRET=superClaveMegaSecreta123
